# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.configure(2) do |config|
  config.vm.box = "tutum/node"
  config.vm.provision "shell" do |s|
    s.inline = <<-SHELL
      : ${1:?"You must define a \\$TUTUM_TOKEN environment variable"}
      sudo tutum-agent set TutumToken="$1"
      sudo service tutum-agent restart
    SHELL
    s.args = "#{ENV['TUTUM_TOKEN']}"
  end
end
